#main_container {
    width: auto;
    height: 0 auto;
    margin: 0 auto;
    padding: 16px;
    background-color: rgb(218, 218, 218);
}

#header_aminu {
    text-align: center;
    color: #ff0055;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main_header_nav {
    color: aliceblue;
    text-align: center;
}

.button {
    width: 100px;
    margin: 8px;
    padding: 8px;
    background-color: aqua;
}